#header
#overlay
	.col-sm-12.header-box
		%h1 ALAMEDA
		%h1.header-title
			PACIFIC LIGHTHOUSE
		%h1 SEAFOOD RESTAURANT
		%br
		%h5 1051 PACIFIC MARINA ALAMEDA, CA
		%h5 #: (510)263-9232

#about
	.row
		.col-md-6.col-sm-12
			%h2.title
				ABOUT US
	
			%h5 Gorgeous view of the Oakland Estuary & yacht club
			%h5 Full bar with variety of beer, wine, hard liquor, and cocktails!
			%h5 501+ seating capacity with second floor
			%h5 Private rooms and dining halls with center stages
			%h5 Karaoke rooms with latest equipment and system
			%h5 Authentic dim sum and seafood dining
			%h5 Free delivery to East Bay coming soon!

			%button{:class=>'white-button col-sm-8 disabled'} online order coming soon

		.col-md-5.col-sm-12.about-image-container
			.row
				.col-sm-4
					=image_tag('newpic.png')
				.col-sm-4
					=image_tag('dimsum.jpg')
				.col-sm-4
					=image_tag('bar.jpg')
				.col-sm-4
					=image_tag('aboutdim.jpeg')
				.col-sm-4
					=image_tag('delta.jpg')
				.col-sm-4
					=image_tag('fed.jpg')
				.col-sm-4
					=image_tag('front.jpg')
				.col-sm-4
					=image_tag('main.jpg')
				.col-sm-4
					=image_tag('center.png')
				.col-sm-4
					=image_tag('fish.jpg')
				.col-sm-4
					=image_tag('chand2.jpg')
				.col-sm-4
					=image_tag('center.jpg')
#menu
	.col-sm-12
		%h2.title.text-center
			MAIN MENU
		/ %p.text-center slider of main menu - for weddings or events, please email for event menu - dimsum menu will be posted shortly

	.col-sm-12.center.slider
		%a{"data-fancybox" => "", :href => image_path("menu/appetizer.jpg")}
			=image_tag "menu/appetizer.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/bbq.jpg")}
			=image_tag "menu/bbq.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/beef_pork.jpg")}
			=image_tag "menu/beef_pork.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/e_men.png")}
			=image_tag "menu/e_men.png"
		%a{"data-fancybox" => "", :href => image_path("menu/e_men2.png")}
			=image_tag "menu/e_men2.png"
		%a{"data-fancybox" => "", :href => image_path("menu/new_men.png")}
			=image_tag "menu/new_men.png"
		%a{"data-fancybox" => "", :href => image_path("menu/claypot.jpg")}
			=image_tag "menu/claypot.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/dessert.jpg")}
			=image_tag "menu/dessert.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/liveseafood.jpg")}
			=image_tag "menu/liveseafood.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/poultry2.jpg")}
			=image_tag "menu/poultry2.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/premium.jpg")}
			=image_tag "menu/premium.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/rice.jpg")}
			=image_tag "menu/rice.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/seafood.jpg")}
			=image_tag "menu/seafood.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/soup.jpg")}
			=image_tag "menu/soup.jpg"

		/ %a{"data-fancybox" => "", :href => image_path("menu/extra.jpg")}
		/ 	=image_tag "menu/extra.jpg"

/ #special-menu
/ 	.col-sm-12
/ 		%h2.title.text-center
/ 			BANQUET MENU
/ 	.row
/ 		.col-sm-6
/ 			%a{"data-fancybox" => "", :href => image_path("menu/e_men.png")}
/ 				=image_tag "menu/e_men.png"
/ 		.col-sm-6
/ 			%a{"data-fancybox" => "", :href => image_path("menu/e_men2.png")}
/ 				=image_tag "menu/e_men2.png"
#gallery
	.col-sm-12
		%h2.title.text-center
			GALLERY
		/ %p.text-center dining hall - private rooms - bar - seafood

		.row

			.col-sm-4.image-box
				%a{"data-fancybox" => "", :href => image_path("bar.jpg")}
					=image_tag "bar.jpg"
			.col-sm-4.image-box
				%a{"data-fancybox" => "", :href => image_path("main.jpg")}
					=image_tag "main.jpg"
			.col-sm-4.image-box
				%a{"data-fancybox" => "", :href => image_path("fed.jpg")}
					=image_tag "fed.jpg"

		.row.gallery-bottom-row
			.col-sm-4.image-box
				%a{"data-fancybox" => "", :href => image_path("delta.jpg")}
					=image_tag "delta.jpg"
			.col-sm-4.image-box
				%a{"data-fancybox" => "", :href => image_path("3.jpg")}
					=image_tag "3.jpg"
			.col-sm-4.image-box
				%a{"data-fancybox" => "", :href => image_path("front.jpg")}
					=image_tag "front.jpg"

		.row.gallery-bottom-row
			.col-sm-4.image-box
				%a{"data-fancybox" => "", :href => image_path("2.jpg")}
					=image_tag "2.jpg"
			.col-sm-4.image-box
				%a{"data-fancybox" => "", :href => image_path("vip2.jpg")}
					=image_tag "vip2.jpg"
			.col-sm-4.image-box
				%a{"data-fancybox" => "", :href => image_path("fed2.jpg")}
					=image_tag "fed2.jpg"

