#header
	
#overlay
	.col-sm-7.header-box
		%h1.header-title
			%span.smaller-title 
				怡景麗宴
			%br PACIFIC LIGHTHOUSE
		- if current_user
			%a{:href => order_page_path, :class => "btn btn-custom"}
				ORDER ONLINE NOW
		- else

			%a{:href => new_user_path, :class => "btn btn-custom"}
				ORDER ONLINE NOW

		/ - if current_time > "10" && current_time <  "15" 
		/ 	- if current_user
		/ 		%a{:href => order_page_path, :class => "btn btn-custom"}
		/ 			ORDER ONLINE NOW
		/ 	- else

		/ 		%a{:href => new_user_path, :class => "btn btn-custom"}
		/ 			ORDER ONLINE NOW
		/ - else
		/ 	%a{:href => root_path, :class => "btn btn-custom", "data-confirm" => "Online order and delivery is temporarily only available for lunch session. We sincerely apologize for the inconvenience. Once our new dinner menu is set up, we will include dinner delivery service. Please stay tuned!"}
		/ 		ORDER ONLINE NOW	

#about
	.row
		.col-sm-7
			.image-box
				=image_tag "center.png"
		.col-sm-5
			%h2.title
				ABOUT US
			.about-content
				%table.table
					%tr
						%td  
							%i{:class => "fa fa-anchor", "aria-hidden"=> "true"} 
						%td
							%h6  Gorgeous view of the delta & yacht club
					%tr
						%td
							%i{:class => "fa fa-glass", "aria-hidden"=> "true"} 
						%td
							%h6  Bar with variety of beer, wine, and hard liquor
					%tr
						%td
							%i{:class => "fa fa-users", "aria-hidden"=> "true"} 
						%td
							%h6  501+ seating capacity with second floor
					%tr
						%td
							%i{:class => "fa fa-birthday-cake", "aria-hidden"=> "true"}  
						%td
							%h6  Private rooms and dining halls with center stages

					%tr
						%td
							%i{:class => "fa fa-music", "aria-hidden"=> "true"}  
						%td
							%h6  Karaoke rooms with latest equipment

					%tr
						%td
							%i{:class => "fa fa-cutlery", "aria-hidden"=> "true"} 
						%td
							%h6  Authentic dim sum and seafood dining

					%tr
						%td
							%i{:class => "fa fa-car", "aria-hidden"=> "true"}  
						%td
							%h6  Free lunch delivery throughout Alameda & Oakland
				.col-sm-12.text-left
					- if current_user
						%a{:href => order_page_path, :class => "btn btn-custom"}
							ORDER ONLINE NOW
					- else

						%a{:href => new_user_path, :class => "btn btn-custom"}
							ORDER ONLINE NOW
					/ - if current_time > "10" && current_time <  "15" 
					/ 	- if current_user
					/ 		%a{:href => order_page_path, :class => "btn btn-custom"}
					/ 			ORDER ONLINE NOW
					/ 	- else

					/ 		%a{:href => new_user_path, :class => "btn btn-custom"}
					/ 			ORDER ONLINE NOW
					/ - else
					/ 	%a{:href => root_path, :class => "btn btn-custom", "data-confirm" => "Online order and delivery is temporarily only available for lunch session. We sincerely apologize for the inconvenience. Once our new dinner menu is set up, we will include dinner delivery service. Please stay tuned!"}
					/ 		ORDER ONLINE NOW	
#delivery
	.col-sm-12.text-center.overlay
		.empty
			%h3.title
				FREE DELIVERY TO ALAMEDA & OAKLAND 
				%br FROM 10AM TO 3PM DAILY

			%p *limited time promotion*
			.col-sm-12.text-center
				- if current_user
					%a{:href => order_page_path, :class => "btn btn-custom"}
						ORDER ONLINE NOW
				- else

					%a{:href => new_user_path, :class => "btn btn-custom"}
						ORDER ONLINE NOW
				/ - if current_time > "10" && current_time <  "15" 
				/ 	- if current_user
				/ 		%a{:href => order_page_path, :class => "btn btn-custom"}
				/ 			ORDER ONLINE NOW
				/ 	- else

				/ 		%a{:href => new_user_path, :class => "btn btn-custom"}
				/ 			ORDER ONLINE NOW
				/ - else
				/ 	%a{:href => root_path, :class => "btn btn-custom", "data-confirm" => "Online order and delivery is temporarily only available for lunch session. We sincerely apologize for the inconvenience. Once our new dinner menu is set up, we will include dinner delivery service. Please stay tuned!"}
				/ 		ORDER ONLINE NOW	

#deliv-overlay

#menu
	.col-sm-12
		%h2.title.text-center
			MAIN MENU
		%p.text-center slider of main menu - for weddings or events, please email for event menu - dimsum menu will be posted shortly

	.col-sm-12.center.slider
		%a{"data-fancybox" => "", :href => image_path("menu/appetizer.jpg")}
			=image_tag "menu/appetizer.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/bbq.jpg")}
			=image_tag "menu/bbq.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/beef_pork.jpg")}
			=image_tag "menu/beef_pork.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/claypot.jpg")}
			=image_tag "menu/claypot.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/dessert.jpg")}
			=image_tag "menu/dessert.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/liveseafood.jpg")}
			=image_tag "menu/liveseafood.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/poultry2.jpg")}
			=image_tag "menu/poultry2.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/premium.jpg")}
			=image_tag "menu/premium.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/rice.jpg")}
			=image_tag "menu/rice.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/seafood.jpg")}
			=image_tag "menu/seafood.jpg"

		%a{"data-fancybox" => "", :href => image_path("menu/soup.jpg")}
			=image_tag "menu/soup.jpg"

		/ %a{"data-fancybox" => "", :href => image_path("menu/extra.jpg")}
		/ 	=image_tag "menu/extra.jpg"


#bg
	.col-sm-12.text-center.overlay
		.empty
			%h3.title
				WEDDINGS, BANQUETS, GRADUATIONS & OTHER SPECIAL EVENTS
				%br WE HAVE THE REAL ESTATE TO CATER TO ALL
		

#gallery
	.col-sm-12
		%h2.title.text-center
			GALLERY
		%p.text-center dining hall - private rooms - bar - seafood
		.container
			.row

				.col-sm-4.image-box
					%a{"data-fancybox" => "", :href => image_path("bar.jpg")}
						=image_tag "bar.jpg"
				.col-sm-4.image-box
					%a{"data-fancybox" => "", :href => image_path("main.jpg")}
						=image_tag "main.jpg"
				.col-sm-4.image-box
					%a{"data-fancybox" => "", :href => image_path("newv2.jpg")}
						=image_tag "newv2.jpg"

			.row.gallery-bottom-row
				.col-sm-4.image-box
					%a{"data-fancybox" => "", :href => image_path("fish2.jpg")}
						=image_tag "fish2.jpg"
				.col-sm-4.image-box
					%a{"data-fancybox" => "", :href => image_path("newv4.jpg")}
						=image_tag "newv4.jpg"
				.col-sm-4.image-box
					%a{"data-fancybox" => "", :href => image_path("front.jpg")}
						=image_tag "front.jpg"

			.row.gallery-bottom-row
				.col-sm-4.image-box
					%a{"data-fancybox" => "", :href => image_path("fish.jpg")}
						=image_tag "fish.jpg"
				.col-sm-4.image-box
					%a{"data-fancybox" => "", :href => image_path("vip2.jpg")}
						=image_tag "vip2.jpg"
				.col-sm-4.image-box
					%a{"data-fancybox" => "", :href => image_path("vip.jpg")}
						=image_tag "vip.jpg"


