#header
	.col-sm-12
		%h1.title
			%span.smaller-title 
				Alameda 
			%br Paific Lighthouse
		.btn.btn-custom
			Order Online


#about
	.row
		.col-sm-6
		.col-sm-6
			%h3.title
				KEY POINTERS ABOUT US

			%p
				Welcome to the new and recently opened Pacific Lighthouse. Located at the outskirts and quietly huddled away in the Marina, Pacific Lighthouse is the perfect restaurant to bring family and friends for a quiet and breathtaking lunch or dinner. Enjoy authenthic and top of the line dimsum, dinner, and tea of all varieties bundled with superior customer service and a mangificent view of the Marina Harbor. Let us be your number location for all your parties, banquets, and other services.
			%p
				Pacific Lighthouse in Alameda has an array of services that we offer to our guests. We have an open bar where guests can sit and enjoy after meal with cable t.v set on local news and sports channels. In addition, we have a set of VIP rooms situated in our second floor, where we offer privacy or (if you're looking for a little fun) a full kareoke system side by side with 40 inch plasma hdtv's. If you need more space for your family & friends, we have an isolated "hall" on the first floor which will definitely be able to host to our occasion.

#menu

	%h3.title
		MAIN MENU


#gallery

	%h3.title
		GALLERY

#info
	.row
		.col-sm-6
			%h3.title
				BUSINESS INFORMATION
			.col-sm-12
				%h4.title
					Location
				%p
					1051 Pacific Marina 
					%br Alameda CA, 94501
			.col-sm-12
				%h4.title
					Contact
				%p
					Direct line: 510-263-9232
					%br Email: info@pacificlighthouse.com
				%p
					For information regarding reservations and events, 
					%br please ask to speak with either Eric/David/Henry.
			.col-sm-12
				%h4.title
					Hours of operation
				%p
					Sunday to Thursday 
					%br Morning | 10:00AM - 3:00PM
					Dinner | 5:00PM - 9:30PM
					%br Friday to Saturday
					Morning | 10:00AM - 3:00PM
					%br Dinner | 5:00PM - 10:00PM
				%p
					We're open on all major holidays.
		.col-sm-6