#sign-in-registration

	.col-md-8.col-sm-12
		.row
			.col-sm-12
				%h2.title RETURNING CUSTOMER?
				%form{:method => "post", :action => "/login"}
					%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
					.form-group.row
						.col-4
							%label Email:
						.col-8
							%input{:type => "email", :class => "form-control", :name => "email"}

					.form-group.row
						.col-4
							%label Password:
						.col-8
							%input{:type => "password", :class => "form-control", :name => "password"}

					.form-group.row.text-right
						.col-12
							%input{:type => "submit", :class => "btn btn-primary btn-md", :value => "Log in"}

			%hr
			.col-sm-12
				%h2.title NEW CUSTOMER?
				%form{:method => "post", :action => "/users"}
					%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
					.form-group.row
						.col-4
							%label Full Name:
						.col-8
							%input{:type => "text", :class => "form-control", :name => "new_user[full_name]"}

					.form-group.row
						.col-4
							%label Email:
						.col-8
							%input{:type => "email", :class => "form-control", :name => "new_user[email]"}

					.form-group.row
						.col-4
							%label Phone number:
						.col-8
							%input{:type => "integer", :class => "form-control", :name => "new_user[phone]"}

					.form-group.row
						.col-4
							%label Password:
						.col-8
							%input{:type => "password", :class => "form-control", :name => "new_user[password]"}

					.form-group.row
						.col-4
							%label Password confirmation:
						.col-8
							%input{:type => "password", :class => "form-control", :name => "new_user[password_confirmation]"}

					.form-group.row.text-right
						.col-12
							%input{:type => "submit", :class => "btn btn-primary btn-md", :value => "Continue"}

					= flash[:new_cust_error]


	.col-md-3.offset-md-1.col-sm-12.sign-in-note
		%p.text-center Thank you for signing up! 
		%p Please note deliveries are currently for lunch only. As a promotion, we are offering FREE deliveries (minimum of $15.00 purchase) for all customers within Oakland and Alameda.
		%p We strive to deliver all our food fresh and hot within a 1 hour window. 
			
								
