#sign-in-registration
	.col-sm-8.offset-sm-2
		.row
			.col-sm-12
				%h3.title Returning customer?
				%form{:method => "post", :action => "/login"}
					%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
					.form-group.row
						.col-4
							%label Email:
						.col-8
							%input{:type => "email", :class => "form-control", :name => "email"}

					.form-group.row
						.col-4
							%label Password:
						.col-8
							%input{:type => "password", :class => "form-control", :name => "password"}

					.form-group.row.text-right
						.col-12
							%input{:type => "submit", :class => "btn btn-primary btn-md", :value => "Log in"}

		%hr
		.row

			.col-sm-12
				%h3.title New customer?
				%form{:method => "post", :action => "/users"}
					%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
					.form-group.row
						.col-4
							%label Full Name:
						.col-8
							%input{:type => "text", :class => "form-control", :name => "new_user[full_name]"}

					.form-group.row
						.col-4
							%label Email:
						.col-8
							%input{:type => "email", :class => "form-control", :name => "new_user[email]"}

					.form-group.row
						.col-4
							%label Phone number:
						.col-8
							%input{:type => "integer", :class => "form-control", :name => "new_user[phone]"}

					.form-group.row
						.col-4
							%label Password:
						.col-8
							%input{:type => "password", :class => "form-control", :name => "new_user[password]"}

					.form-group.row
						.col-4
							%label Password confirmation:
						.col-8
							%input{:type => "password", :class => "form-control", :name => "new_user[password_confirmation]"}

					.form-group.row.text-right
						.col-12
							%input{:type => "submit", :class => "btn btn-primary btn-md", :value => "Continue"}
			
							
