@import url('https://fonts.googleapis.com/css?family=Montserrat|Yellowtail|Raleway');
@import "bootstrap";
@import 'slick';
@import 'slick-theme';

.fixed-top{
	background-color:#FFF !important;
     -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
             box-shadow: 0 8px 6px -6px #999;
    max-height:4.5rem;
    .navbar-nav{
    	margin-right:-.5rem;
    }
	.navbar-brand{
		img{
			width:184px;
			margin-top:1rem;
		}
	}
	.nav-item{
		margin:.5rem;
	    text-transform: uppercase;
	}
}

*{
	font-family: 'Raleway', sans-serif;
	padding:0;
	margin:0 auto;
	font-size:16px;
}
.title{
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
}

.image-box{
	box-shadow:.1px .1px 1px #888;
	padding:5px;
}
#header{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	width:100vw;
	height:100vh;
	background-image:asset-url('dimsumbg.jpeg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	color:#FFF;

	.smaller-title{
		font-size:3rem;
		font-family: 'Yellowtail', cursive;
	}
	.header-title{
		font-size:6.5rem;
		font-family: 'Yellowtail', cursive;
		font-weight:500;
		text-shadow:1px 1px 1px #000;
	}
	.btn-custom{
		margin-top:.25rem;
		border:.1px solid #FFF;
		padding:15px;
		transition:all 150ms ease-in-out;
		border-radius:1.5%;
		width:25%;
		text-shadow:1px 1px 1px #000;
	}
	.btn-custom:hover{
		background-color:#CFB53B;
		color:#FFF;
	}

}

#about, #menu, #gallery, #info, #sign-in-registration, #registration-address, #order-page{
	padding:75px;
}

#about{
	.about-content{
		p{
			line-height:175%;
		}
	}
	img{
		width:100%;

	}
}

#menu{
	img{
		width:90%;
		box-shadow:.1px .1px 1px #888;
	}

	.slick-arrow{
		background-color:#888;

	}

}

#gallery{
	img{
		width:100%;
		opacity:.9;
	}
	.gallery-bottom-row{
		margin-top:1rem;
	}
}

#info{
	.maps{
		padding:15px;
		box-shadow:.1px .1px 1px #888;
	}
	.maps iframe{
	    pointer-events: none;
	}
}

#footer{
	padding:25px;
	background-image:asset-url("say.png");
	background-repeat:repeat;
}

#subfooter{
	background-color:#494446;
	padding:15px;
	color:#fff;
}

#sign-in-registration, #registration-address{
	display:flex;
	justify-content:center;
	align-items:center;
}
#sign-in-registration{
	min-height:100vh;
}
#registration-address{
	min-height:85vh;
}
#order-page{
	margin-top:3.5%;
	min-height:100vh;
	.btn{
		width:100%;
		border:.1px solid #000;
	}
	.subtitle{
		font-weight:900;
	}
	.order-box{
		border:.1px solid #f9f9f9;
		padding:15px;
		border-radius:1.5%;
		position:fixed;
		right:0;
		margin-right:3.5rem;
	}
	.card{
		margin-top:.5rem;
		.card-header{
			width:100%;
			background-color:#494446;
			a{
				color:#FFF;
			}
		}
	}
}